{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}
<div class="container mt-5" style="max-width: 500px;">
    <h2 class="mb-4 text-center">Новый пароль</h2>
    <form method="post" class="border p-4 rounded shadow-sm bg-light">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for f in form %}
            <div class="mb-3">
                <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
                {{ f|add_class:"form-control" }}
                <div class="text-danger small">{{ f.errors }}</div>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success w-100">Сохранить</button>
    </form>
</div>
{% endblock %}
